[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flake8 = "*"
pylint = "*"
ipdb = "*"
autopep8 = "*"
coverage = "*"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-extensions = "*"

[requires]
python_version = "3.6"

[scripts]
serve = "python manage.py runserver"
test = "python manage.py test"
lint = "python -m flake8"
lintfix = "python -m autopep8 .  --recursive --in-place"
